# Deskritisasi

## Proses Diskritasi Data

Siapkan Dataset dan juga import modul yang nantinya di gunakan yaitu modul panda dan juga numpy

In [10]:
import pandas as pd
import numpy as np

setelah itu tampung dataset ke dalam variabel di sini saya menggunakan nama variabel dataset

In [11]:
pd.options.mode.chained_assignment = None
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
dataset = pd.read_csv(url)
dataset

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Mwmisahkan tiap kolom yang nantinya akan di konversi yang asalnya numerik menjadi kategori

### Equal Width

In [12]:
sl_equalWidth = dataset[["sepal.length"]]
pl_equalWidth = dataset[["petal.length"]]
sw_equalWidth = dataset[["sepal.width"]]
pw_equalWidth = dataset[["petal.width"]]

In [13]:
sl_equalWidth["Kategori"] = pd.cut(dataset["sepal.length"],3, labels = ['A','B','C'])
pl_equalWidth['Kategori'] = pd.cut(dataset["petal.length"],3, labels = ['A', 'B','C'])
sw_equalWidth['Kategori'] = pd.cut(dataset["sepal.width"],3, labels = ['A', 'B','C'])
pw_equalWidth['Kategori'] = pd.cut(dataset["petal.width"],3, labels = ['A', 'B','C'])
display(sl_equalWidth)
display(pl_equalWidth)
display(sw_equalWidth)
display(pw_equalWidth)

     sepal.length Kategori
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        B
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     petal.length Kategori
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     sepal.width Kategori
0            3.5        B
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        B
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        B
149          3.0        B

[150 rows x 2 columns]

     petal.width Kategori
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

menggabungkan semua categori menjadi satu tabel

In [14]:
equalWidth = pd.DataFrame([])
equalWidth["sepal.length"] = dataset["sepal.length"]
equalWidth['SL.category'] = sl_equalWidth["Kategori"]

equalWidth["petal.length"] = dataset["petal.length"]
equalWidth["PL.category"] = sl_equalWidth["Kategori"]

equalWidth["sepal.width"] = dataset["sepal.width"]
equalWidth["SW.category"] = sw_equalWidth["Kategori"]

equalWidth["petal.width"] = dataset["petal.width"]
equalWidth["PW.category"] = pw_equalWidth["Kategori"]

equalWidth["variety"] = dataset[["variety"]]

equalWidth

,sepal.length,SL.category,petal.length,PL.category,sepal.width,SW.category,petal.width,PW.category,variety
0,5.1,A,1.4,A,3.5,B,0.2,A,Setosa
1,4.9,A,1.4,A,3.0,B,0.2,A,Setosa
2,4.7,A,1.3,A,3.2,B,0.2,A,Setosa
3,4.6,A,1.5,A,3.1,B,0.2,A,Setosa
4,5.0,A,1.4,A,3.6,B,0.2,A,Setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,B,5.2,B,3.0,B,2.3,C,Virginica
146,6.3,B,5.0,B,2.5,A,1.9,C,Virginica
147,6.5,B,5.2,B,3.0,B,2.0,C,Virginica
148,6.2,B,5.4,B,3.4,B,2.3,C,Virginica
149,5.9,B,5.1,B,3.0,B,1.8,C,Virginica

### Equal Frequency

Mwmisahkan tiap kolom yang nantinya akan di konversi yang asalnya numerik menjadi kategori

In [15]:
sl_equalFrequency = dataset[["sepal.length"]]
pl_equalFrequency = dataset[["petal.length"]]
sw_equalFrequency = dataset[["sepal.width"]]
pw_equalFrequency = dataset[["petal.width"]]

In [16]:
sl_equalFrequency["Kategori"] = pd.qcut(dataset["sepal.length"],3, labels = ['A','B','C'])
pl_equalFrequency['Kategori'] = pd.qcut(dataset["petal.length"],3, labels = ['A', 'B','C'])
sw_equalFrequency['Kategori'] = pd.qcut(dataset["sepal.width"],3, labels = ['A', 'B','C'])
pw_equalFrequency['Kategori'] = pd.qcut(dataset["petal.width"],3, labels = ['A', 'B','C'])
display(sl_equalFrequency)
display(pl_equalFrequency)
display(sw_equalFrequency)
display(pw_equalFrequency)

     sepal.length Kategori
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        C
146           6.3        B
147           6.5        C
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     petal.length Kategori
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     sepal.width Kategori
0            3.5        C
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        C
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        C
149          3.0        B

[150 rows x 2 columns]

     petal.width Kategori
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

In [17]:
equalFrequency = pd.DataFrame([])
equalFrequency["sepal.length"] = dataset["sepal.length"]
equalFrequency['SL.category'] = sl_equalFrequency["Kategori"]

equalFrequency["petal.length"] = dataset["petal.length"]
equalFrequency["PL.category"] = sl_equalFrequency["Kategori"]

equalFrequency["sepal.width"] = dataset["sepal.width"]
equalFrequency["SW.category"] = sw_equalFrequency["Kategori"]

equalFrequency["petal.width"] = dataset["petal.width"]
equalFrequency["PW.category"] = pw_equalFrequency["Kategori"]

equalFrequency["variety"] = dataset[["variety"]]

equalFrequency

,sepal.length,SL.category,petal.length,PL.category,sepal.width,SW.category,petal.width,PW.category,variety
0,5.1,A,1.4,A,3.5,C,0.2,A,Setosa
1,4.9,A,1.4,A,3.0,B,0.2,A,Setosa
2,4.7,A,1.3,A,3.2,B,0.2,A,Setosa
3,4.6,A,1.5,A,3.1,B,0.2,A,Setosa
4,5.0,A,1.4,A,3.6,C,0.2,A,Setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,C,5.2,C,3.0,B,2.3,C,Virginica
146,6.3,B,5.0,B,2.5,A,1.9,C,Virginica
147,6.5,C,5.2,C,3.0,B,2.0,C,Virginica
148,6.2,B,5.4,B,3.4,C,2.3,C,Virginica
149,5.9,B,5.1,B,3.0,B,1.8,C,Virginica

### Entropi

**Diskritisasi berbasis entropi** (entropy based discretization) adalah salah satu jenis algoritma diskritisasi terawasi yang menggunakan mekanisme top- down. Tujuan dari algoritma ini adalah mendapatkan partisi yang mengandung baris data dari kelas yang sama sebanyak mungkin.

Rumus Entrophy:  
![image.png](https://cdn.mathpix.com/snip/images/T3MAnkOgvu54ASi68sQ5fR96rPCLPxjYofOqC9L4IpM.original.fullsize.png)  

RUMUS GAIN

  ![image.png](https://cdn.mathpix.com/snip/images/T6pg-dpJKT4PsSKzNdI_sQWFKj1kZao_9Oaf5-Zf88g.original.fullsize.png)

RUMUS INFO
  
![image.png](https://cdn.mathpix.com/snip/images/iFDk6peaL_uAebWnVWZebfy9CvJ0VNADb8ukE2Nmyds.original.fullsize.png)

In [18]:
#menambah sample data
sample = dataset[["sepal.length"]]
sample.describe()

       sepal.length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

membuat kategori random untuk data sample

In [19]:
np.random.seed(0)
sample["kategori"] = np.where(np.random.choice(2,sample.shape[0]) < 1,"A","B")
sample

     sepal.length kategori
0             5.1        A
1             4.9        B
2             4.7        B
3             4.6        A
4             5.0        B
..            ...      ...
145           6.7        A
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

Membuat fungsi GetOverollCategory (keseluruhan) yang digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [20]:
def GetOverollCategory(col):
  group = sample.loc[:, :].groupby("kategori").count()
  a = group.loc["A", col]
  b = group.loc["B", col]
  return (a,b,a+b)

Memasukan fungsi splitter yang digunakan untuk membuat split antara value yang telah ditentukan lalu mengembalikan data yang telah dipisahkan

In [21]:
def splitter(value, col):
  #get data less and greater from value
  less = sample[sample[col] <= value]
  greater = sample[sample[col] > value]

  #calculate into category for each data
  less_group = less.loc[:, :].groupby("kategori").count()
  greater_group = greater.loc[:, :].groupby("kategori").count()

  #get value based on category
  less_category_A = less_group.loc["A",col]
  less_category_B = less_group.loc["B",col]
  greater_category_A = greater_group.loc["A",col]
  greater_category_B = greater_group.loc["B",col]

  return (
      [less_category_A, less_category_B, less_category_A + less_category_B],
      [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
  )

Membuat fungsi entropy untuk melakukan perhitungan entropy

In [22]:
def entropy (d):
  r1 = (d[0] / d[2]) * np.log2(d[0] / d[2])
  r2 = (d[1] / d[2]) * np.log2(d[1] / d[2])
  return np.sum([r1, r2]) * -1

Membuat fungsi info dan gain

In [23]:
def info(d):
  r1 = (d[0][2] / sample.shape[0]) * entropy(d[0])
  r2 = (d[1][2] / sample.shape[0]) * entropy(d[1])
  return r1 + r2

Fungsi gain untuk menghitung selisih antara entropy awal dengan yang baru

In [24]:
def gain(Einitial, Enew):
  return Einitial - Enew

Membuat Dinitial

In [25]:
D = GetOverollCategory("sepal.length")
entropy_d = entropy(D)
print(D)
print(entropy_d)

(68, 82, 150)
0.993707106604508

Melakukan beberapa fungsi split untuk mendapatkan informasi yang terbaik

In [26]:
#split 4.5
split1 = splitter(4.5, "sepal.length")
info_split1 = info(split1)
gain(entropy_d, info_split1)

0.0069930419733333915

In [27]:
#split 5.5
split2 = splitter(5.5, "sepal.length")
info_split2 = info(split2)
gain(entropy_d, info_split2)

0.012302155146638905

In [28]:
#split 6.5
split3 = splitter(6.5, "sepal.length")
info_split3 = info(split3)
gain(entropy_d, info_split3)

0.00012921701793400242