# Diskritisasi

#Proses Diskritasi Data

Siapkan Dataset dan juga import modul yang nantinya di gunakan yaitu modul panda dan juga numpy

In [1]:
import pandas as pd
import numpy as np

setelah itu tampung dataset ke dalam variabel di sini saya menggunakan nama variabel dataset

In [2]:
pd.options.mode.chained_assignment = None
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
dataset = pd.read_csv(url)
dataset

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Mwmisahkan tiap kolom yang nantinya akan di konversi yang asalnya numerik menjadi kategori

##Equal Width

In [3]:
sl_equalWidth = dataset[["sepal.length"]]
pl_equalWidth = dataset[["petal.length"]]
sw_equalWidth = dataset[["sepal.width"]]
pw_equalWidth = dataset[["petal.width"]]

In [4]:
sl_equalWidth["Kategori"] = pd.cut(dataset["sepal.length"],3, labels = ['A','B','C'])
pl_equalWidth['Kategori'] = pd.cut(dataset["petal.length"],3, labels = ['A', 'B','C'])
sw_equalWidth['Kategori'] = pd.cut(dataset["sepal.width"],3, labels = ['A', 'B','C'])
pw_equalWidth['Kategori'] = pd.cut(dataset["petal.width"],3, labels = ['A', 'B','C'])
display(sl_equalWidth)
display(pl_equalWidth)
display(sw_equalWidth)
display(pw_equalWidth)

     sepal.length Kategori
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        B
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     petal.length Kategori
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     sepal.width Kategori
0            3.5        B
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        B
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        B
149          3.0        B

[150 rows x 2 columns]

     petal.width Kategori
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

menggabungkan semua categori menjadi satu tabel

In [5]:
equalWidth = pd.DataFrame([])
equalWidth["sepal.Length"] = sl_equalWidth["Kategori"]
equalWidth["petal.Length"] = sl_equalWidth["Kategori"]
equalWidth["sepal.Width"] = sl_equalWidth["Kategori"]
equalWidth["petak.Width"] = sl_equalWidth["Kategori"]
equalWidth["variety"] = dataset[["variety"]]

equalWidth

    sepal.Length petal.Length sepal.Width petak.Width    variety
0              A            A           A           A     Setosa
1              A            A           A           A     Setosa
2              A            A           A           A     Setosa
3              A            A           A           A     Setosa
4              A            A           A           A     Setosa
..           ...          ...         ...         ...        ...
145            B            B           B           B  Virginica
146            B            B           B           B  Virginica
147            B            B           B           B  Virginica
148            B            B           B           B  Virginica
149            B            B           B           B  Virginica

[150 rows x 5 columns]

##EqualFrequency

Mwmisahkan tiap kolom yang nantinya akan di konversi yang asalnya numerik menjadi kategori

In [6]:
sl_equalFrequency = dataset[["sepal.length"]]
pl_equalFrequency = dataset[["petal.length"]]
sw_equalFrequency = dataset[["sepal.width"]]
pw_equalFrequency = dataset[["petal.width"]]

In [7]:
sl_equalFrequency["Kategori"] = pd.cut(dataset["sepal.length"],3, labels = ['A','B','C'])
pl_equalFrequency['Kategori'] = pd.cut(dataset["petal.length"],3, labels = ['A', 'B','C'])
sw_equalFrequency['Kategori'] = pd.cut(dataset["sepal.width"],3, labels = ['A', 'B','C'])
pw_equalFrequency['Kategori'] = pd.cut(dataset["petal.width"],3, labels = ['A', 'B','C'])
display(sl_equalFrequency)
display(pl_equalFrequency)
display(sw_equalFrequency)
display(pw_equalFrequency)

     sepal.length Kategori
0             5.1        A
1             4.9        A
2             4.7        A
3             4.6        A
4             5.0        A
..            ...      ...
145           6.7        B
146           6.3        B
147           6.5        B
148           6.2        B
149           5.9        B

[150 rows x 2 columns]

     petal.length Kategori
0             1.4        A
1             1.4        A
2             1.3        A
3             1.5        A
4             1.4        A
..            ...      ...
145           5.2        C
146           5.0        C
147           5.2        C
148           5.4        C
149           5.1        C

[150 rows x 2 columns]

     sepal.width Kategori
0            3.5        B
1            3.0        B
2            3.2        B
3            3.1        B
4            3.6        B
..           ...      ...
145          3.0        B
146          2.5        A
147          3.0        B
148          3.4        B
149          3.0        B

[150 rows x 2 columns]

     petal.width Kategori
0            0.2        A
1            0.2        A
2            0.2        A
3            0.2        A
4            0.2        A
..           ...      ...
145          2.3        C
146          1.9        C
147          2.0        C
148          2.3        C
149          1.8        C

[150 rows x 2 columns]

In [8]:
equalFrequency = pd.DataFrame([])
equalFrequency["sepal.Length"] = sl_equalFrequency["Kategori"]
equalFrequency["petal.Length"] = sl_equalFrequency["Kategori"]
equalFrequency["sepal.Width"] = sl_equalFrequency["Kategori"]
equalFrequency["petak.Width"] = sl_equalFrequency["Kategori"]
equalFrequency["variety"] = dataset[["variety"]]

equalFrequency

    sepal.Length petal.Length sepal.Width petak.Width    variety
0              A            A           A           A     Setosa
1              A            A           A           A     Setosa
2              A            A           A           A     Setosa
3              A            A           A           A     Setosa
4              A            A           A           A     Setosa
..           ...          ...         ...         ...        ...
145            B            B           B           B  Virginica
146            B            B           B           B  Virginica
147            B            B           B           B  Virginica
148            B            B           B           B  Virginica
149            B            B           B           B  Virginica

[150 rows x 5 columns]

#Entropi